doctype html
html(lang="en")
    head 
        include ../components/header.pug
        title Events - Salve Mundi Gaming Club 

    body 
        header
            //- Add navigation bar
            include ../components/navbar.pug

        main 
            div TODO show events calendar here

        footer 
            include ../components/footer.pug