doctype html
html(lang="en")
    head 
        include ../components/header.pug
        title Login - SaMu Gaming Club

    body 
        header
            //- Add navigation bar
            include ../components/navbar.pug

        main 
            div TODO show record achievements here (e.g. most logged on hours in a game or something?)

        footer 
            include ../components/footer.pug