doctype html
html(lang="en")
    head 
        include ../components/header.pug
        link(rel="stylesheet" href="/css/servers.css")
        title Multiplayer Servers - Salve Mundi Gaming Club 

    body(class="servers-page")
        header
            //- Add navigation bar
            include ../components/navbar.pug

        main             
            include ../mixins/server-item.pug

            //- Official servers pane
            div(class="server-pane")
                div(class="caption") Officiele Servers
                div(class="description") Deze servers zijn gehost door SaMu en/of club staff
                div(class="list")
                    if premiumServers.length                        
                        each server in premiumServers
                            +server-item(server)
                    else
                        i Geen servers.

            //- User servers
            div(class="server-pane")
                div(class="caption") User Servers 
                div(class="description") Servers die opgezet zijn door andere studenten
                div(class="list")
                    if freeServers.length                        
                        each server in freeServers
                            +server-item(server)
                    else
                        i Geen servers.

        footer 
            include ../components/footer.pug