//- Site footer template
div(class="site-footer")
    //- Footer contents
    div(class="content")
        //- Left pane
        div(class="left")
            div(class="logo")
                div(class="image")
                div(class="title") Gaming Club

        //- Footer right pane
        div(class="right")
            div(class="mark")
                div 
                    b Salve Mundi Gaming Club
                br
                div Deel van de 
                    a(href="https://salvemundi.nl" target="_blank") Salve Mundi
                    |  studievereniging.

                div SAMU Huisregels en gedragscode zijn in effect in deze club.
                br
                div Vragen, suggesties, of klachten? 
                    a(href="mailto:gaming@salvemundi.nl") Neem contact op
                    | .

    //- Footer copyright
    div(class="copyright") Copyright (C) Salve Mundi 2023.