meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(property="og:title" content="Salve Mundi Gaming Club")
meta(property="og:description" content="SaMU Gaming Club Website")
link(rel="stylesheet" href="css/normalize.css")
link(rel="stylesheet" href="css/index.css")