//- Navigation bar

nav(class="nav-bar")
    a(href="/" class="logo" alt="Salve Mundi Home Logo")
        div(class="text") Gaming Club
    div(class="buttons")
        a(href="/") Home
        a(href="/stats") Stats
        a(href="/servers") Multiplayer 
        a(href="/events") Events
        a(href="/records") Records  