//- Server item mixin
mixin server-item(name, address, version, icon, description)
    div(class="item")
        div(class="left")
            div(class="icon " + icon)
        div(class="right")
            div(class="name")= name 
            div(class="description")= description
            div(class="owner")
                span Gehoost door: 
                span Hosting User
            div(class="version")= "Game Versie: " + version 
            div(class="address")
                div(class="type") IP
                div(class="value")= address