/* Server Pane styles */
.server-pane {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.server-pane>.caption {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.server-pane>.description {
    margin-bottom: 1.5rem;
}

/* Server item */
.server-pane>.list>.item {
    background-color: rgb(38, 38, 38);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    line-height: 1.35;
    margin-bottom: 2em;
}

.server-pane>.list>.item>.left>.icon {
    height: 72px;
    width: 72px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.server-pane>.list>.item>.right {
    flex: 1;
    margin-left: 1em;
}


.server-pane>.list>.item>.right>.name {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.server-pane>.list>.item>.right>.description {
    margin-bottom: 0.5rem;
}

.server-pane>.list>.item>.right>.address {
    padding: 5px;
    box-sizing: border-box;
    margin-top: 0.5rem;
    display: inline-block;
    background-color: rgb(32, 32, 32);
}

.server-pane>.list>.item>.right>.address>.type {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.server-pane>.list>.item>.right>.address>.value {
    font-family: monospace;
    display: inline-block;
    vertical-align: middle;
}

