/* Site theme */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');

html {
    background: rgb(48, 48, 48);
    color: white;
    font-family: "Rubik", sans-serif;
}

/* Navigation bar styles */
.nav-bar {
    display: flex;
    padding: 20px;
    background-color: rgb(32, 32, 32);
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar>.logo {
    height: 36px;
    width: 210px;
    background-image: url(/img/samu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}

.nav-bar>.logo>.text {
    margin: auto;
    margin-right: 0;
    font-weight: bold;
    font-size: 20px;
}

.nav-bar>.buttons {
    flex: 1;
    text-align: right;
}

.nav-bar>.buttons>a {
    padding: 10px;
    display: inline-block;
    margin-left: 10px;
}

.nav-bar>.buttons>a:hover {
    color: rgb(32, 32, 32);
    background-color: white;
}

/* Hero styles */
.hero {
    display: flex;
    height: 50vh;
    min-height: 300px;
    background-position: center;
}

.hero>.content {
    margin: auto;
    text-align: center;
}

.hero>.content>.title {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 2rem;
}

.hero>.content>.subtitle {
    margin-bottom: 2rem;
    font-size: 22px;
}

/* Control styles */

button {
    appearance: none;
    border: none;
    background-color: white;
    color: rgb(32, 32, 32);
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(32, 32, 32);
    color: white;
}

/* Grid */

.gridset {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.gridset:nth-child(2n+2) {
    background-color: rgb(56, 56, 56);
}

.gridset>.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.5rem;
}

.gridset>.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 10rem;
    margin-right: 10rem;
}

.gridset>.grid>.item {
    text-align: center;
}

.gridset>.grid>.item>.icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 72px;
    width: 72px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.gridset>.grid>.item>.title {
    font-weight: 500;
    margin-bottom: 1rem;
}

/* Site Footer */
footer {
    background-color: rgb(32, 32, 32);
}

.site-footer {
    margin-left: 100px;
    margin-right: 100px;
    padding: 1.5em;
    padding-top: 3em;
}

.site-footer>.content {
    display: flex;
    margin-bottom: 3em;
}

.site-footer>.content>.left>.logo>.image {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/samu.svg);
}

.site-footer>.content>.left>.logo>.title {
    font-weight: bold;
    font-size: 18px;
}

.site-footer>.content>.right {
    flex: 1;
    margin-left: 2em;
}

.site-footer>.content>.right>.mark {
    line-height: 1.35;
}

.site-footer>.content>.right>.mark a {
    color: white;
}

.site-footer>.copyright {
    border-top: 1px solid rgb(64, 64, 64);
    padding: 0.5em;
    padding-top: 1.75em;
    box-sizing: border-box;
    text-align: center;
}